{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
  {% include 'partials/header.njk' %}
  <section id="main">
  <div class="container">
        <header>
          <h2>{{ project.title }}</h2>
          <div class="addon">
            <form action="/app/projects/{{ activeProject }}?_method=DELETE" method="post">
              <button class="btn btn-danger" type="submit">Excluir projeto</button>
            </form>
          </div>
        </header>
        <section id="content">
    {% include 'partials/navSections.njk' %}
          <article>
            <div class="project-header">
              <h1>{{ currentSection.title }}</h1>
                <button type="submit" data-modal-open="#edit-section" class="btn-edit-section">Editar seção</button>
              <form action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=DELETE" method="post">
                <button type="submit" class="btn-remove-section">Remover seção</button>
              </form>
            </div>
            <div class="content">{{ currentSection.formattedContent | safe }} </div>
          </article>
        </section>
      </div>
    </section>
  </div>

  <div class="modal" id="edit-section">
            <form class="modal-content" method="post"
                  action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=PUT"
              <input type="text" name="title" value="{{ currentSection.title }}">
              <div class="content-container">
                <textarea name="content" class="mde">{{ currentSection.content }}</textarea>
              </div>
              <button type="submit">SALVAR SECTION</button>
              <a href="#" data-modal-close="#edit-section">CANCELAR</a>
            </form>
</div>


{% endblock %}
