{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
  {% include 'partials/header.njk' %}
  <section id="main">
  <div class="container">
        <header>
          <h2>{{ project.title }}</h2>
          <div class="addon">
            <form action="/app/projects/{{ activeProject }}?_method=DELETE" method="post">
              <button class="btn btn-danger" type="submit">Excluir projeto</button>
            </form>
          </div>
        </header>
        <section id="content">
    {% include 'partials/navSections.njk' %}
          <article>
            <div class="project-header">
              <h1>{{ currentSection.title }}</h1>
              <form action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=PUT" method="post">
                <button type="submit" class="btn-edit-section">Editar seção</button>
              </form>
              <form action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=DELETE" method="post">
                <button type="submit" class="btn-remove-section">Remover seção</button>
              </form>
            </div>
            <p>{{ currentSection.content}} </p>
          </article>
        </section>
      </div>
    </section>
  </div>
{% endblock %}
