{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
  {% include 'partials/header.njk' %}
  <section id="main">
  <div class="container">
    {% include 'partials/projects.njk' %}
        <section id="content">
    {% include 'partials/navSections.njk' %}
          <article>
            <div class="project-header">
              <h1>{{ currentSection.title }}</h1>
                <button type="submit" data-modal-open="#edit-section" class="btn-edit-section">Edit</button>
              <form action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=DELETE" method="post">
                <button type="submit" class="btn-remove-section">Remove</button>
              </form>
            </div>
            <div class="content">{{ currentSection.formattedContent | safe }} </div>
          </article>
        </section>
      </div>
    </section>
  </div>

  <div class="modal" id="edit-section">
      <form class="modal-content" method="post"
                 action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=PUT"
        <input type="text" name="title" value="{{ currentSection.title }}">
        <div class="content-container">
          <textarea name="content" class="mde">{{ currentSection.content }}</textarea>
        </div>
        <button type="submit">SAVE</button>
        <a href="#" data-modal-close="#edit-section">CANCEL</a>
    </form>
</div>
{% endblock %}
