{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <h1>Docfy</h1>
    <form action="/authenticate" method="post">
      <input type="email" name="email" placeholder="Type in your email...">
      <input type="password" name="password" placeholder="Type in your password...">
      <button type="submit">Login</button>
      <a href="/signup">Create an account</a>
    </form>
  </div>
{% endblock %}
