{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <h1>Docfy</h1>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Type in your fullname... ">
      <input type="email" name="email" placeholder="Type in your email...">
      <input type="password" name="password" placeholder="Type in your password...">
      <button type="submit">Create account</button>
      <a href="/">Already have an account?</a>
    </form>
  </div>
{% endblock %}
