      <nav>
            <div class="sessions">
            {% for section in sections %}
                <a class="{% if section.id == currentSection.id%}active{% endif %}" href="/app/projects/{{ activeProject }}/sections/{{ section.id }}">
                  {{ section.title }}
                </a>
            {% endfor %}
            </div>
              <button type="submit" data-modal-open="#create-section" class="btn">Add Section <img src="/img/plus.svg"></button>
      </nav>
          <div class="modal" id="create-section">
            <form class="modal-content" method="post"
                  action="/app/projects/{{ project.id }}/sections/create">
              <input type="text" name="title" placeholder="Section title...">
              <div class="content-container">
                <textarea name="content" class="mde" placeholder="Section content..."></textarea>
              </div>
              <button type="submit">SAVE</button>
              <a href="#" data-modal-close="#create-section">CANCEL</a>
            </form>
        </div>
