        <header>
          <h2>{{ project.title }}</h2>
          <div class="addon">
            <form action="/app/projects/{{ activeProject }}?_method=DELETE" method="post">
              <button class="btn btn-danger" type="submit">Delete project</button>
            </form>
          </div>
        </header>
