<html>
  <head>
    <title></title>
  </head>

<body>
  <form method="post" action="/check">
    <input type="text" name="name" />
    <input type="date" name="birthDate" />
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
